body {
            font-family: "Pretendard",sans-serif;
            background-color: #f7f7f7;
        }
        /* inner 모음 */
        .inner {
            max-width: 1200px;
            width: 100%;
            margin:0 auto;
            padding: 0 50px;
        }
        .header-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 50px;
            gap: 50px;
        }
        .hero-inner {
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 100px 50px;
            gap: 20px;
        }
        .main-inner {
            padding: 30px 50px;
        }
        .footer-inner {
            gap: 20px;
            padding: 70px 50px;
            flex-direction: column;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        /* 헤더 */
        .page-header {
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            position: relative;
        }
        .logo {
            color: #3474ff;
            font-size: 26px;
            font-weight: 600;
        }
        .search-box {
            flex: 1;
            width: 100%;
            max-width: 500px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            border-radius: 20px;
            border: 1px solid #cbcbcb;
            padding: 8px 20px;
        }
        .search-box:active {
            border: 1px solid #3474ff;
        }
        .search-box input {
            width: 260px;
            box-sizing: border-box;
            border: none;
            font-size: 16px;
        }
        .search-icon {
            width: 24px;
            cursor: pointer;
        }
        .menu-box {
            display: flex;
            align-items: center;
            gap: 16px;
        }
        .home, .popular-item, .new-item {
            font-weight: 600;
            font-size: 16px;
        }
        .home:hover, .popular-item:hover, .new-item:hover {
            color: #3474ff;
        }
        .home.active, .popular-item.active, .new-item.active {
            color: #3474ff;
        }
        .login {
            background-color: #242424;
            color: white;
            width: 84px;
            height: 40px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            transition: 0.3s;
        }
        .login:hover {
            box-shadow: 0 8px 16px rgba(0,0,0,0.1);
            transform: translateY(-6px);
        }
        /* 히어로 */
        .hero-section {
            background: #c4edff;
            background: linear-gradient(90deg, rgba(196, 237, 255, 1) 3%, rgba(255, 255, 227, 1) 97%);
        }
        .hero-title {
            font-size: 40px;
            font-weight: 600;
        }
        .hero-section span {
            font-size: 18px;
        }
        .popular-emoji {
            background-color: #3474ff;
            color: white;
            width: 200px;
            height: 46px;
            border-radius: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 8px 16px rgba(0,0,0,0.1);
            position: relative;
            transition: 0.3s;
        }
        .popular-emoji:hover {
            transform: translateY(-6px);
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        }
        .hero-img {
            width: 300px;
            height: 300px;
            border-radius: 16px;
            overflow: hidden;
            right: 50px;
            top: 60px;
            position: absolute;
        }
        .hero-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
         /* main-카테고리 */
        h2 {
            font-size: 24px;
            font-weight: 700;
        }
        .category {
            margin-bottom: 40px;
        }
        .category-tag {
            display: flex;
            gap: 10px;
            margin-top: 16px;
        }
        .category-tag a {
            background-color: #fff;
            color: #676767;
            font-size: 16px;
            font-weight: 500;
            border: 1px solid #e5e5e5;
            padding: 10px 20px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .category-tag a:hover {
            background-color: #242424;
            color: #fff;
            transition: 0.5s;
        }
        .category-tag a.active {
            background-color: #242424;
            color: #fff;
            border: none;
        }
        /* main-오늘의 추천 이모티콘 */
        .rec-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
        }
        .more {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(./images/icons/arrow-right.svg);
            background-repeat: no-repeat;
            background-size: 24px;
            background-position: center right 0px;
            padding-right: 24px;
        }
        .more p {
            color: gray;
            font-size: 14px;
        }
        .card-list {
            gap: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
            margin-bottom: 40px;
        }
        .card {
            display: flex;
            flex-direction: column;
            width: 260px;
            border: 1px solid #fff;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            transition: 0.5s;
        }
        .card:hover {
            transform: translateY(-6px);
            box-shadow: 0 8px 16px rgba(0,0,0,0.1);
        }
        .thumb img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .description {
            background-color: #fff;
            padding: 18px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .title {
            font-size: 16px;
            font-weight: 700;
            color: #242424;
        }
        .name {
            font-size: 14px;
            font-weight: 400;
            color: #959595;
        }
        .price {
            font-size: 16px;
            font-weight: 700;
            color:#3474ff;
        }
        .won {
            margin-left: 2px;
        }
        /* 푸터 */
        .footer {
            background-color: #fff;
        }
        .link {
            display: flex;
            justify-content: center;
            text-align: center;
            gap: 20px;
        }
        .footer-inner strong {
            font-size: 20px;
            font-weight: 600;
            color: #cecece;
        }
        .footer-inner p {
            font-size: 16px;
            font-weight: 300;
            color: #959595;
        }
        /* 로그인 */
        .login-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 60px auto;
            width: 100%;
            max-width: 400px;
            background-color: #fff;
            border-radius: 12px;
            padding: 50px;
            box-shadow: 0 8px 16px rgba(0,0,0,0.06);
        }
        .login-container h2 {
            font-size: 28px;
            color: #323232;
            margin-bottom: 16px;
        }
        .login-container p {
            font-size: 16px;
            color: #9f9f9f;
            margin-bottom: 30px;
        }
        .form-field {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
        label {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 4px;
            color: #323232;
        }
        .form input {
            width: 300px;
            height: 40px;
            border: 1px solid #e2e2e2;
            border-radius: 8px;
            padding: 0 10px;
            font-size: 14px;
        }
        .input-box:focus {
            border: 1.2px solid #3474ff;
            outline: none;
        }
        .login-btn {
            width: 300px;
            height: 44px;
            background-color: #3474ff;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
        }
        .ect {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0 10px;
            margin: 20px;
            font-size: 14px;
            font-weight: 500;
            color: #cecece;
        }
        .ect a{
            color:#959595;
        }
        
        .sns-title {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 500;
            color: #cecece;
            margin: 20px 0;
            width: 100%;
            gap: 10px;
        }

        .sns-title::before,
        .sns-title::after {        
            content: "";
            flex: 1;
            height: 1px;
            background-color: #e0e0e0;
        }

        .sns-login{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
        .sns-login img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border: 1px solid #ebebeb;
        }